nav{
    display: flex;
}
body{
    font-family: 'Open Sans', sans-serif;
font-family: 'Playfair Display', serif;
}
.navtt{
    color: #181818;
    font-size: 45px;
    font-weight: 800;

}
.orenge{
    color: lawngreen;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav{
    margin: 0 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn{
    border-radius: 5px;
    background-color: lawngreen;
    border: 0;
    font-size: 20px;
    font-weight: 700px;
    color: aliceblue;
    padding: 12px 28px;
}
nav li{
    list-style: none;
    margin: 10px;
}
nav a{
    text-decoration: none;
    color: #474747;
}
.hdr{
    background-image: url('../images/header_bg.png');
    background-color: whitesmoke;
    background-repeat: no-repeat;
    background-position: bottom right;
}
.banner{
    align-items: center;
    display: flex;
    padding: 30px 30px 0px 150px;
    justify-content: space-between;
}
.banner-content{
    max-width: 500px;
}
.banner .dp{
    width: 500px;
}
.bnr{
    color: #474747;
    margin-bottom: 0;
    font-size: 45px;

}
.bnr-hding{
    font-size: 85px;
    font-weight: 700px;
    margin-top: 5px;
    margin-bottom: 20px;
    
}   

.section-title{

    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700px;
}
.section-description{
    color: #757575;
    text-align: center;
    font-size: 18px;
}
/* main scetion style */
main{
    max-width: 1140px;
    margin: 0 auto;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-info{
    text-align: center;
}
.what-do{
    padding: 30px 150px;
}
/* about section style */
.about{
    padding: 130px;
    border-radius: 10px;
    background: #fff8f3;
    margin: 130px 0px;
}